<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentoring Propiedades</title>
</head>
<body>
    
</body>
</html>

    </head>
    <body>
        {% block 'navbar' %}
        {% include "includes/navbar.html" %}
        {% endblock 'navbar' %}
        
        
        {% block 'header' %}
        {% include "includes/header.html" %}
        {% endblock 'header' %}
        
        
        {% block 'content' %}
        {% include 'index.html'%}
        {% endblock 'content' %}

        {% block 'footer' %}
        {% include "includes/footer.html" %}
        {% endblock 'footer' %}
        
        
        
        
        
        
        </body>
        </html>