{% extends "base.html" %}
{% block content %}
    {% if user.tipo_usuario == 'arrendador' %}

    <h2>Tus Inmuebles</h2> 
    <section class="container mx-auto pt-5">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        {% for inm in inmuebles %}
        <div class="col">
            <div class="card h-100">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <a href="property-details.html"><img class="card-img-top" src="media/{{inm.imagen}}" class="d-block w-100" alt="Card image cap">
                        </div>
                        <div class="carousel-item">
                        <a href="property-details.html"></a><img class="card-img-top" src="media/{{inm.imagen_2}}" class="d-block w-100" alt="Card image cap">
                        </div>
                        <div class="carousel-item">
                        <a href="property-details.html"></a><img class="card-img-top" src="media/{{inm.imagen_3}}" class="d-block w-100" alt="Card image cap">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                </div>
            <div class="card-body">
                <h5 class="card-title">{{ inm.name }}</h5>
                <p class="card-text text-justify">
                    {% if inm.descripcion|length > 100 %}
                        {{ inm.descripcion|slice:":100" }}... <a href="">descripcion</a>
                    {% else %}
                        {{ inm.descripcion}}
                    {% endif %}
                </p>
            </div>
            <div class="card-footer">
                <a href="{% url 'detalle' inm.id %}">detalle del inmueble</a>
            </div>
            </div>
        </div>
        {% endfor %}  
    </div>
    </section>
        <h2>Solicitudes Recibidas</h2>
        <section class="container mx-auto pt-5">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
                {% for solicitud in solicitudes_recibidas %}
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{solicitud.estado}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ solicitud }}</h5>
                            <p>{{solicitud.mensaje}}</p>
                            {% if solicitud.estado != 'aceptado' %}
                                <form method="post" action="{% url 'cambiar_estado_solicitud' solicitud.id %}">
                                    {% csrf_token %}
                                    <select name="nuevo_estado">
                                        <option value="pendiente">Pendiente</option>
                                        <option value="aceptado">Aceptado</option>
                                        <option value="rechazado">Rechazado</option>
                                    </select>
                                    <button type="submit">Cambiar Estado</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}